body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:gainsboro;
}

header:hover {
    color: darkred;
    text-transform: uppercase;
    text-decoration:underline;
}

header {
    text-align: center;
    padding: 0.5px;
    background-color: lightblue;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pic {
    position: absolute;
    margin-top: -140px;
    width: 130px;
    height: 130px;
    display: block;
    border-radius: 50%;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

.info {
    display: flex;
    justify-content: space-between;
}

.left-col, .right-col , .right1-col{
    width: 24%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 3px;
}

.education, .experience, .picture {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 2px;
    background-color: #333;
    color: #fff;
}